.head-content.hosts{style: "padding:0;"}
	.icon{style: "width:100px;"}
		=link_to image_tag("logo2.jpg", class: "logo"),root_path,method: :get
	.search-bar
		%form.search{action: "users/search"}
			.search-bar__container
				=form_tag "/users/index", method: :get do
					%input.search{"aria-label" => "Search", :autocomplete => "off", :name => "location", :placeholder => "Search", :type => "text"}
	%ul.lists
		-if user_signed_in?
			%label#user_icon
				%li.info_list#icon_tab
					-if current_user.image == nil
						.i.fa.fa-user-circle-o{style: "font-size:30px;"}
					-else
						= image_tag current_user.image_url,class: "profile__avatar"
			%li.info_list
				=link_to "Help",root_path,class: "info"
			%li.info_list
				=link_to "Messages",root_path,class: "info"
			-if controller_name == "rooms" && current_user.id == @room.host.user.id
				%li.info_list
					=link_to "Edit", "/users/#{current_user.id}/hosts/#{current_user.host.id}/rooms/#{@room.id}/room_steps/home",class: "info"
			-if current_user.host && @room == nil
				%li.info_list
					=link_to "Host","/users/#{current_user.id}/hosts/#{current_user.host.id}",class: "info"
			-elsif current_user.host
				%li.info_list
					=link_to "Host","/users/#{current_user.id}/hosts/#{current_user.host.id}/rooms/#{@room.id}/room_steps/home",class: "info"
		-else
			%li.info_list
				%div{class: "info",id: "Login"}Log In
			%li.info_list
				%div{class: "info",id: "signUp"} Sign Up
			%li.info_list
				=link_to "Help",root_path,class: "info"
