.main-homes
	.titleColumn
		.row-header
			.row-header__title Homes
			.row-header__seeMore
				=link_to "See all" ,root_path
	.slider-homes#slider
		- @rooms.each do |room|
			-if room.progress == true
				.homes-content
					.homes-images
						=link_to room_path(id: room.id),method: :get,class: "h-image" do
							.pic#x1
								=image_tag room.image_url,class: "home-image"
					.text
						%div
							%span.price¥13,088
							%span.homes-topic #{room.description.truncate(35, omission: '...')}
						.detail
							%span #{room.room_type} #{room.place_type}/#{room.property_type}
							%span ・
							-if room.bed == 1
								%span #{room.bed} bed
							-else
								%span #{room.bed} beds
					.rating
						%span.stars ☆☆☆☆☆
						%span 47reviews