%div.form__list
= form_for @room, url: amenities_user_host_rooms_path do |f|
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Essentials
				%span{style: "display:block; font-size: 15px;"} Towels, bed sheets, soap, and toilet paper
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Wifi
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Shampoo
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Closet/drawers
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span TV
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Heat
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Air conditioning
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Breakfast, coffee, tea
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Desk/workspace
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Fireplace
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Iron
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Hair dryer
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Pets in the House
	.check_box__wrapper
		%label.check_box
			.field.check{style: "margin-top:5px; float:left;"}
				= f.check_box :location
				%div{style: "padding-left:8px; float:left;"}
				%span Private entrance