%script{:src => "//maps.google.com/maps/api/js?key=AIzaSyDApvpqeb8HdQvnBvaxpbOcjHkEYmTf6N8"}
%script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
%script{:src => "//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}
.main
  %header
    = render "hosts/header"
    %div{style: "border-top: 1px solid #DBDBDB;"}
    .header__pic
      =image_tag @room.image_url,class: "show__pic"
  .body{style: "overflow: auto;"}
    .body__content
      .side-content#float-sns-box
        .side-content__header
          .side-header__text
            %span.side-header__detail
              From
            %span.side-header__detail
              $ #{@room.price}
            %span.side-header__detail
              per night
        .side-content__body.effect
          = form_for @reservation, url:  room_reservations_path(room_id: params[:id]) do |f|
            .side-content__wrapper
              .data__content
                .data__wrapper
                  %label
                    .data__text
                      Check_in
                    %div{style: "position:relative;"}
                      = f.text_field :data_in , placeholder: "mm/dd/yy" ,class: "form-control data__form",id: "datetimepicker"
                .data__wrapper
                  %label
                    .data__text
                      Check_out
                    %div{style: "position:relative;"}
                      = f.text_field :date_out ,placeholder: "mm/dd/yy" ,class: "form-control data__form",id: "datetimepicker2"
                .guest__content
                  .guest__wrapper
                    .data__text
                      Guests
                    = f.text_field :guest,class:"guest__form"
                %div
                  = f.submit "Request to Book",{class: "next_form  side"}
                %div{style: "text-align:center; clear:both;"}
                  You won't be charged yet
      .body__wrapper
        .nav__wrapper
          .nav
            %span Overview
            %span ・
            %span Reviews
            %span ・
            %span The Host
            %span ・
            %span Location
        .body__description
          .description__container
            .description__title
              = @room.name
            .description__address
              = @room.state
              %span,
              = @room.city
              %span,
              = @room.country
              %span.stars.rating{style: "margin-left:24px;" } ☆☆☆☆☆
              %span.rating 47reviews
            .description__icons
              .icons__border
                .icons__item
                  .item__content
                    %i.fa.fa-home{style: "padding-left:20px;"}
                    .icons__text
                      = @room.room_type
                .icons__item
                  .item__content
                    %i.fa.fa-users{style: "padding-left:20px;"}
                    .icons__text
                      = @room.guest_number
                      %span guests
                .icons__item
                  .item__content
                    %i.fa.fa-home{style: "padding-left:20px;"}
                    .icons__text
                      = @room.bedroom
                      %span bedroom
                .icons__item
                  .item__content
                    %i.fa.fa-bed{style: "padding-left:20px;"}
                    .icons__text
                      = @room.bed
                      %span bed
              .icons__border{style: "clear:both;"}
            .description__details
              .text{style: "font-size:22px; margin-bottom:28px;"}
                About this listing
              .details__text
                Very clean and spacious condo.
                100% walk score. Close to Union Station, Air Canada Centre, Rogers Centre, CN Tower, Aquarium, St Lawrence market, King Station
              .text{style: "font-size:19px; margin-bottom:16px;"}
                The space
              .details__text
                Very clean two bedroom two bathroom condo. Very spacious and bright.
                %br
                Includes: ensuite full-size washer/dryer, dishwasher, granite countertops, high-end kitchenware, Bell Fibe unlimited high speed internet and great cable package, top-of-the-line all new big screen tv and speakers. The unit is 1000 sq ft. and fully furnished.
                %br
                Bedroom: comfy queen size bed with a full double closet, nightstand, lamps, dresser, and private office area if required.
                %br
                Building Features: expansive rooftop terrace, complete with sun loungers, cushions, and barbeques for use, as well as a 24-hr concierge, meeting room, party room, and gym.
                %br
                Although the space is right in the centre of the downtown core, you dont hear much street noise inside the condo and I assure that you will have a very peaceful sleep.
              .text{style: "font-size:19px; margin-bottom:16px;"}
                Guest access
              .details__text
                Guests will have access to all of the common elements and may come and go as they please.
              .text{style: "font-size:19px; margin-bottom:16px;"}
                Interaction with guests
              .details__text
                You will be sharing the space with myself. I am a very easy going 29 year old Canadian guy working full time at TD bank. You will receive a key/fob that acesses all of the buildings amenities and may come and go as you please.
                I have been hosting people from all over the world for over a year. As an Air B n B host, my job is to ensure my guests have a comfortable stay. Please do not be shy to ask me specific questions prior to booking, either about the space or the city.
              .text__link
                = link_to "Ask host a question" ,user_path(id: @room.host.user.id)
              .icons__border
            .description__facilities
              .facilities__left
                .text{style: "font-size:19px; margin-bottom:16px;"}
                  The space
              .facilities__right
                .left__box
                  .text.facility
                    Accomodates:
                    =@room.guest_number
                  .text.facility
                    Bathrooms:
                    =@room.bathroom
                  .text.facility
                    Bedrooms:
                    =@room.bedroom
                  .text.facility
                    Beds:
                    =@room.bed
                .right__box
                  .text.facility
                    Check In:Flexible
                  .text.facility
                    Property type:
                    =@room.property_type
                  .text.facility
                    Room type:
                    =@room.room_type
                .icons__border{style: "clear:both;"}
              .description__facilities
                .facilities__left
                  .text{style: "font-size:19px; margin-bottom:16px;"}
                    Amenities
                .facilities__right
                  .left__box
                    -@room.amenities.each do |amenity|
                      .text.facility
                        %i.fa.fa-check
                        =amenity.name
                  .right__box
                    -@room.spaces.each do |space|
                      .text.facility
                        %i.fa.fa-check
                        =space.item
                  .icons__border{style: "clear:both;"}
              .description__facilities
                .facilities__left
                  .text{style: "font-size:19px; margin-bottom:16px;"}
                    Availability
                .facilities__right
                  .left__box
                    .text.facility
                      1 night minimum stay
                  .right__box
                    .text.facility#calender_text
                      view calender
                .icons__border{style: "clear:both;"}
              .description__host
                %div{style: "margin-bottom:28px;"}
                  %span.text{style: "font-size:20px;"}
                    Hosted by
                    = @room.host.user.first_name
                    = link_to user_path(id: @room.host.user.id) do
                      = image_tag @room.host.user.image_url,class: "avatar"
              .details__text{style: "clear:both;"}
                My name is
                = @room.host.user.first_name
                %br
                %br
                I grew up in Ottawa. I am a huge hockey fan and the Ottawa Senators are my favorite team.
                %br
                %br
                I have lots of experience traveling, having lived and taught in South Korea for two years. I am easy going, and really enjoy meeting new people from all over the world.
                %br
                %br
                I take pride in knowing I have consistently been providing comfortable experiences for over 250 guests from all over the world.
              .text{style: "font-size:19px; margin:16px 0;"}
                The neighborhood
              .details__text
                = @host.first_name + "'s"
                home is located in
                = @room.state + ","
                = @room.city + ","
                = @room.country
                %br
                %br
                Perfect location. So many terrific restaurants, bars and speciality stores that appeal to tourists
                %br
                %br
                100% walk score. Close to eaton centre, air canada centre, rogers centre CN tower, aquarium, St Lawrence market and toronto's entertainment district.
      .body__bottom{style: "margin-top:40px; padding-right:20%;"}
        .description__location
          .details__map#map
          :javascript
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(#{raw @hash.to_json});
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          .description__recomend
            .text{style: "font-size:19px; margin:16px 0;"}
              Similar listings
            .slider-homes#slider3{style: "width:120%;"}
              - @rooms.each do |room|
                -if room.progress == true
                  .homes-content
                    .homes-images
                      =link_to room_path(id: room.id),method: :get,class: "h-image" do
                        .pic#x1
                          =image_tag room.image_url,class: "home-image"
                    .text
                      %div
                        %span.price
                          $ #{room.price}
                        %span.homes-topic #{room.description.truncate(35, omission: '...')}
                      .detail
                        %span #{room.room_type} #{room.place_type}/#{room.property_type}
                        %span ・
                        -if room.bed == 1
                          %span #{room.bed} bed
                        -else
                          %span #{room.bed} beds
                    .rating
                      %span.stars ☆☆☆☆☆
                      %span 47reviews
      .content
        .content__main
          %footer
            = render "users/footer"
