.main
	%header
		= render "hosts/header"
	.body{style: "overflow: auto;"}
		.body__main2{style: "width:1310px; margin:0 auto; "}
			.body__left{style: "padding-left:0;"}
				.request__form{style: "margin:58px 93.50px 100px 100px; padding:0;"}
					.request__title{style: "font-size:32px;"}
						Hi,
						= current_user.last_name + "!"
						Let’s get started listing
						%br your space.
					.request__content
						%div
							.panel__title
								%span STEP 1
								%h3{style: "font-size:24px;"} Start with the basics
								%div Beds, bathrooms, amenities, and more
								-if @room.progress_1 == true
									.container__left{style: "float:left; font-size: 14px; color: #00a699;"}
										=link_to " Change", wizard_path(:room),class: "change"
								-else
									.container__left{style: "float:left; font-size: 19px;"}
										=form_tag user_host_rooms_path(user_id: current_user.id, host_id: params[:id]), method: :post do
											%button.continue
												%span Continue
							.bed__details
							.container__border{style: "margin-bottom:28px;"}
						%div
							.panel__title
								%span STEP 2
								%h3{style: "font-size:24px;"} Set the scene
								%div Photos, short description, title
								-if @room.image.present?
									.container__left{style: "float:left; font-size: 14px; color: #00a699;"}
										=link_to " Change", wizard_path(:image),class: "change"
								-else
									- if @room.progress_1 == true
										.container__left{style: "float:left; font-size: 19px;"}
											= link_to wizard_path(:image) do
												.continue
													%span Continue
								.bed__details
								.container__border{style: "margin-bottom:28px;"}
						%div
							.panel__title
								%span STEP 3
								%h3{style: "font-size:24px;"} Get ready for guests
								%div Booking settings, calendar, price
								-if @room.progress_2 == true
									.container__left{style: "float:left; font-size: 19px;"}
										= link_to wizard_path(:price),method: :get do
											.continue
												%span Continue
								.bed__details
								.container__border{style: "margin-bottom:28px;"}
			.body__right{style: "background-color:transparent"}
				=image_tag("pic1.png")
	.body__bottom
	.content
		.content__main
			%footer
				= render "users/footer"

