!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bairbnb
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = action_cable_meta_tag
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    <link rel="icon" type="http://s1.edi-static.fr/Img/BREVE/2014/7/244220/152443.jpg" href="http://s1.edi-static.fr/Img/BREVE/2014/7/244220/152443.jpg" sizes="16x16">
  %body
    = yield
    -if user_signed_in?
      %input{name: "current_user_id", type: "hidden", value: current_user.id, class: 'current_user_id' }
